* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

.leftImage {
    width: 50%;
    height: 100%;
    overflow: hidden;

}

.leftImage>img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.rightForm {
    width: 45%;
    /* background-color: green; */
    /* height: 100%; */
    padding: 2rem;
    text-align: center;
}

.rightForm h1 {
    font-size: 3rem;
    margin: 1rem;
}

.rightForm h2 {
    font-size: 2rem;

    margin-bottom: 3rem;
}

.innerDiv {
    width: 80%;
    margin: auto;
    padding: 4rem 1rem;
    /* background-color: red; */
    margin-top: 4rem;
}

.inputClass {
    width: 100%;
    padding: .7rem;
    outline: none;
    font-size: 1rem;
    margin: 1rem 0;
    border: 1px solid rgb(46, 45, 45);


}

.selectDiv {
    width: 100%;
    /* padding: .7rem 0; */
    display: flex;
    border: 1px solid rgb(46, 45, 45);

}

.selectClass {
    width: 17%;
    padding: .7rem;
    outline: none;
    border: none;

}

.selectInput {
    width: 83%;
    padding: .7rem;
    outline: none;
    font-size: 1rem;
    border: none;
}

.buttonClass {
    width: 100%;
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    column-gap: .5rem;
    border: none;
    color: white;
    background-color: black;
    margin: 2rem 0;
    cursor: pointer;
}

.buttonClass img {
    width: 1.5vw;
    filter: invert(1);



}

.inputContainer {
    position: relative;
}

#mobileContainer {
    position: relative;
}

.requiredField {
    position: absolute;
    color: red;
    right: 1.4rem;
    top: 1.8rem;
    font-weight: bold;
}

.requiredFieldmobile {
    position: absolute;
    color: red;
    right: 1.4rem;
    top: .7rem;
    font-weight: bold;
}

#errorMessage {
    margin-top: .5rem;
    text-align: left;
    color: red;
    font-size: .8rem;
    font-weight: bold;

}
.companyLogo{
    display: none;
}


@media only screen and (max-width: 576px) {

    /* Your CSS rules for extra small devices */
    .mainContainer {
        flex-direction: column;
        height: fit-content;
    }

    .leftImage {
        width: 100%;
        height: fit-content;
        overflow: hidden;
        background-color: #f4f5f5;

    }

    .rightForm {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .innerDiv {
        width: 100%;
        margin: auto;
        padding: 1.5rem;
        margin-top: 0;
    }
    .rightForm h1 {
        font-size: 2.3rem;
        margin: 0;
    }
    .rightForm h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 100;
    }
    .selectClass {
        padding: .3rem;
    }
    .requiredField {
        right: .5rem;
        font-size: .8rem;

    }
    .requiredFieldmobile {
        right: .5rem;
        font-size: .8rem;
    }

    .buttonClass img {
        width: 4.5vw;
    }

    .companyLogo{
        display: block;
        width: 60%;
        margin: auto;
        padding: .5rem;
    }
    .companyLogo> img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
}
@media only screen and (min-width: 577px) and (max-width: 991px) {

    /* Your CSS rules for extra small devices */
    .mainContainer {
        flex-direction: column;
        height: fit-content;
    }

    .leftImage {
        width: 100%;
        height: fit-content;
        overflow: hidden;
        background-color: #f4f5f5;

    }

    .rightForm {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .innerDiv {
        width: 100%;
        margin: auto;
        padding: 1.5rem;
        margin-top: 0;
    }
    .rightForm h1 {
        font-size: 2.3rem;
        margin: 0;
    }
    .rightForm h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 100;
    }
    .selectClass {
        padding: .5rem;
    }
    .requiredField {
        right: .5rem;
        font-size: .8rem;

    }
    .requiredFieldmobile {
        right: .5rem;
        font-size: .8rem;
    }

    .buttonClass img {
        width: 4.5vw;
    }

    .companyLogo{
        display: block;
        width: 60%;
        margin: auto;
        padding: .5rem;
    }
    .companyLogo> img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* Your CSS rules for large devices */
    .leftImage {
        width: 50%;
        height: fit-content;
        overflow: hidden;
        /* background-color: #f4f5f5; */

    }

    .rightForm {
        width: 50%;
        margin: 0;
        padding: 0;
    }
    .innerDiv {
        width: 100%;
        margin: auto;
        padding: 1.5rem;
        margin-top: 0;
    }
    .rightForm h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 100;
    }

}

@media only screen and (min-width: 1200px) {
    /* Your CSS rules for extra large devices */

    .leftImage {
        width: 50%;
       
      

    }

    .rightForm {
        width: 50%;
        margin: 0;
        padding: 0;
    }
    .innerDiv {
        width: 70%;
        margin: auto;
        padding: 1.5rem;
        margin-top: 1rem;
    }
    .rightForm h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 100;
    }
}